/*
=Global
============================================= */
/*
=prevent font scaling in mobile landscape while allowing user zoom */
:root {
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
          
}


body { 
  font-family: Helvetica, sans-serif;
}

/* style the navbar itself */

.navbar-wrapper{
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  
}


#navbar {
  
  background-color: #62b3ff;

  transition: 0.4s;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
  
}





/* style the links */
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 15px;
  border-radius: 90px;
}

/* style the text in the navbar */
#navbar #logo {
  font-size: 25px;
  font-weight: bold;
  transition: 0.4s;
  word-spacing: -2px;

}

/* color of the links when hovering */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* color of the links when clicked */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
}

.navbar-text-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.wrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 60px;
}

#thin {
  font-weight: 100;
}


.image-wrapper {
  background-color: rgb(248 248 248);
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  flex-wrap: nowrap;         /* Allows wrapping, but not necessary for centering */
  margin: 0;               /* Remove negative margin */
  height: auto;           /* Optional: adjust depending on container size */

}

.main-image {
  display: flex;
  justify-content: center; /* Center content inside */
  padding: 30px; /*so this makes it less responsive ask mello*/ 
}

.main-image img {
  width: 60%;      /* Adjust image width as needed */
  height: auto;    /* Preserve image aspect ratio */
}



.title-wrapper {
  display: flex;
  margin-top:50px;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  /* border: 2px solid red; Debug border to check the wrapper width */

}


.title {
  color: black;  
  font-weight: 800;
  font-size: 27px;
  /* border: 2px solid green; Debug border to check the title size */

  
}



.body-wrapper {
  display:flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
  /* border: 2px solid blueviolet; Debug border to check the wrapper width */

}

.body-text {
  font-size: 13px;
  font-weight: 100;
  line-height: 130%;
  flex: 1;
  padding-right: 20px;
}

.body-images {
  
  width: 100%; /* Makes the image take up n% of the container */
  padding-left: 20px; /* Optional: Adds space between text and image */

}


.body-images img{
  width: 100%; /* Ensures image takes up full width of its container */
  height: auto; /* Keeps the aspect ratio intact */
  object-fit: cover; /* Ensures image covers its container without stretching */

}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
    margin-top: 5px;
    padding: 7px;
    font-size: 14px;
    
  }
  #navbar-right {
    float: none;
  }
  .final-images img{
    width: 100%;
  }
  .title {
    font-size: 16px;
  }
  .class {
    font-size: 12px;
  }
  h3 {
    font-size: 14px;
  }
  .body-text{
    font-size: 9px
  }
  .main-image img{
    width: 100%;
  }
  #navbar #logo {
    font-size: 20px;
  }

  .body-images {
    padding-left: 0px;
  }
  

}





