/*
=Global
============================================= */
/*
=prevent font scaling in mobile landscape while allowing user zoom */
:root {
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
          
}

/* html{
  scrollbar-width: none;
} */


body { 
  font-family: Helvetica, sans-serif;
}

/* style the navbar itself */

.navbar-wrapper{
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  
}


#navbar {
  
  background-color: #62b3ff;

  transition: 0.4s;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 99;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}





/* style the links */
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 15px;
  border-radius: 90px;
}

/* style the text in the navbar */
#navbar #logo {
  font-size: 25px;
  font-weight: bold;
  transition: 0.4s;
  word-spacing: -2px;

}

/* color of the links when hovering */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* color of the links when clicked */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
}

.navbar-text-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}




.wrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  max-width: 1200px;
  min-height: 100vh;
  margin: 100px auto;
  flex-direction: column;
}


#thin {
  font-weight: 100;
}


h1 {
  font-size: 20px;
}

hr {
  width:99.8% 
  
  
}















/* idk */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Creates three equal columns that sit next to each other */
.column {
  flex: 33.333%;
  max-width: 33.333%;
  padding: 0 4px;
  margin: 8px;

}

/* style the images in the columns */
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color:rgb(132, 198, 255);
  border-radius: 5px;
 

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

*{
  margin: 0;
  
}
/*
=Image Gallery
============================================= */
.img-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 30px -5px 0px;
  width: 100%;

  
}

/*
=Image Wrapper
============================================= */
.img-wrapper {
  margin: 0;
  padding: 5px;
  position: relative;
  /* width: 100%; */
  height: fit-content;

  
  
}

/*
=Images
============================================= */
.img-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  border: solid;
  border-radius: 15px;
  border-width: .5px;
  box-shadow: 1px 1px 2px rgb(218 218 218);
  
  
}




/*
=Caption Overlay
============================================= */
/* 
style the figcaption */
.img-wrapper figcaption {
  color: transparent;
  text-transform: uppercase;
  font-size: 77.5%;
  font-weight: 400;
  letter-spacing: 1.2px ;
  
  position: absolute;
  top: 5px; right: 5px; bottom: 5px; left: 5px;
 
  display: flex;
  align-items: center;

  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;

  padding: 10px;
  cursor: pointer;
  width: auto;
  height: auto;
  
}

/*
=Style the hover event */
.img-wrapper figcaption:hover {
  background-color: rgba(85, 242, 104, 0.85);
  color: white;
  border-radius: 15px;
  height: auto;
  opacity: .84;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Default overlay */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  border-radius: 15px;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



#thin{
  font-weight: 100;
}



.video-wrapper{
  display:flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  

}

.video {
  width:100%;
  height:auto;
  justify-content: center;
}


.row-one,
.row-two,
.row-three {
  display:flex;
  flex-direction: column;
  width: 33%;
}


.footer{
  width:100%;
  display:flex;
  margin-top:20px;
}

.footer img{
  width:100%
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 70px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  
  }
  #navbar-right {
    float: none;
  }
  #navbar #logo{
    font-size: 27px;
    transition: ease-in-out;
   
  }

  .img-gallery{
    flex-direction: column;
    align-items: center;
    
  }
    
  .img-wrapper img{
   
    width: 100%;
    transition: .5s;
  
  }
  


.row-one,
.row-two,
.row-three {
  width: 100%;
  transition: .5s;
}

.wrapper {
  margin: 30px 10px;
}


}